<% content_for :title, @blog_post.title %>
<% content_for :head do %>
  <meta property="og:title" content="<%= @blog_post.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @blog_post.meta_image.url if @blog_post.meta_image.attached? %>" />
  <meta name="description" content="<%= @blog_post.meta_description %>">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@blogapp" />
  <meta name="twitter:title" content="<%= @blog_post.title %>>" />
  <meta name="twitter:description" content="<%= @blog_post.meta_description %>" />
  <meta name="twitter:image" content="<%= @blog_post.meta_image.url if @blog_post.meta_image.attached? %>" />
<% end %>

<div class="flex flex-col w-full">
  <div class="flex gap-2 mb-4">
    <%= link_to "All Posts", blog_posts_path, class: "text-xl text-gray-900 hover:underline" %>
    <%= link_to "> #{@blog_post.title}", @blog_post, class: "text-xl text-gray-900 hover:underline" %>
  </div>

  <%= image_tag(@blog_post.banner_image, class: "w-full h-64 object-cover") if @blog_post.banner_image.attached? %>

  <h1 class="font-bold text-4xl"><%= @blog_post.title %></h1>

  <div class="my-8 flex flex-col gap-4">
    <div> <%= @blog_post.body %> </div>
    <span> Tags: <%= @blog_post.tags %> </span>
  </div>

  <div class="flex items-center gap-4 mt-8">
    <%= link_to "Edit this blog post", edit_blog_post_path(@blog_post), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" if current_admin %>
    <%= link_to "Back to blog posts", blog_posts_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this blog post", @blog_post, method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" if current_admin %>
  </div>
</div>
